<section style="background:seashell;padding-top: 5rem; border-radius: 1000rem;">
    <div class="container">
        <table id="cartTable">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th>Option</th>
                </tr>

            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img src="/product-images/{{this.product._id}}.jpg" style="width: 70px; height: 70px;" alt="">
                    </td>
                    <td>{{this.product.Name}} </td>
                    <td>Rs: {{this.product.Price}} </td>
                    <td>
                        <button class="cart-item-count ml-5"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)"> -
                        </button>
                        <span id="{{this.product._id}}"> {{this.quantity}} </span>
                        <button class="cart-item-count ml-5"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"> +
                        </button>
                    </td>
                    <td>
                        <a href="/user/remove-order/{{this.product._id}}" class="btn btn-danger ml-5"
                            onclick="confirm('Are you want to Remove{{this.Name}} ?')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h4 class="float-left mr-5">TOTAL: <span id="total">{{totalValue}}</span></h4><br>
            <a href="/place-order" class="btn btn-success mt-4" style="width: 100%;"><b>Place Order</b></a>

        </div>
    </div>
</section>
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (responce) => {
                if (responce.removeProduct) {
                    alert("Product Removed from cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = responce.total
                }
            }
        })
    }
    $(function () {
        $('#cartTable').DataTable();
    });

</script>